# ESP32C61
CONFIG_IDF_TARGET="esp32c61"
CONFIG_IDF_TARGET_ESP32C61=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y

# SPI flash
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHMODE="qio"

CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y

## LOG
# Reduce bootloader log verbosity
# CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
# CONFIG_BOOTLOADER_LOG_LEVEL=2
# CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_LOG_COLORS=y

# Increase main task stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=7168
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096

# Enable filesystem
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_example.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_example.csv"

# Enable FreeRTOS stats formatting functions, needed for 'tasks' command
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
# Enable CPU usage
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y

# On chips with USB serial, disable secondary console which does not make sense when using console component
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
