menu "Application Configuration"

    orsource "$IDF_PATH/examples/idf_v551_my_exps/common/APL/apl_console/Kconfig.apl_console"
    orsource "$IDF_PATH/examples/idf_v551_my_exps/common/APL/apl_lvgl/Kconfig.apl_lvgl"

endmenu